<a href="https://colab.research.google.com/github/Avipsa1/UPPP275-Notebooks/blob/main/Lecture1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **This lecture will review python basics, including data types, functions and modules**

## **Python indentation**

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

**Below are the rules:**
1. The number of spaces is up to you as a programmer, but it has to be at least one.
2. You have to use the same number of spaces in the same block of code, otherwise Python will give you an error.

In [ ]:
if 2 < 6:
  print("Two is smaller than six!")

Two is smaller than six!

In [ ]:
if 2 < 6:
 print("Two is smaller than six!") 
        print("Two is smaller than six!")

IndentationError: ignored

## **Python Variable**

1. In Python variables are created the moment you assign a value to it:
2. Variables do not need to be declared with any particular type and can even change type after they have been set.
3. String variables can be declared either by using single or double quotes.
4. Convention for naming a variable is:
*   A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 
*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
x = 4

In [ ]:
y = "John"

In [ ]:
print(x)

4

## Assign Value to Multiple Variables
1. Python allows us to assign values to multiple variables in one line.
2. We can also assign the same value to multiple variables in one line.

In [ ]:
x, y, z = "Orange", 2, [1,3,4]

## Output Variable values

1. The Python print statement is often used to output variables.
2. To combine both text and a variable, Python uses the + character.
3. For numbers, the + character works as a mathematical operator.
4. But if you try to combine a string and a number, Python will give you an error.

In [ ]:
print("x's value is: "+ x) # use comma to concatenate two or more strings
# but you cannot use + to concatenate a string with a number so if you run the below code
# print("x's value is: ", x + y)
# you will receive an error, because x is a string and y is a number. 
# Instead, you may also use comma to print multiple variables 
print("x's value is: ", x, y) 
print("y's value is: %d" % y) # use outout format to write out y's value. %d means integer. %s means string
print("z's value is: %s" % z) # convert a list (z) to a string type (%s) when printing it
print("z's value is: %s, %s" % (y,z)) # format to use when you want to output multiple variables
                                      # here y can also be printed as a string, so we used %s in the statement

x's value is: Orange
x's value is:  Orange 2
y's value is: 2
z's value is: [1, 3, 4]
z's value is: 2, [1, 3, 4]

## Python data types:
Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool

In [ ]:
# define a string
x1 = "Hellow World"
# define a list
x2 = [1,2,4]
# the element type in a list could be different
x3 = ["Hi", 4, [1,2,4,5]]
# define a range
x4 = range(6)

In [ ]:
print(x1)
print(x2)
print(x3)
print(x4)
print(x5)

Hellow World
[1, 2, 4]
['Hi', 4, [1, 2, 4, 5]]
range(0, 6)

NameError: ignored

### List

In [ ]:
#Get access to an element in a list, using its index which starts from 0, end at the length of list minus 1
#so x3[0] will return the first element in the list
print(x3[0])

Hi

In [ ]:
#you may add an element to a list by using .append()
print(x3)
x3.append(4)
print(x3)

['Hi', 4, [1, 2, 4, 5]]
['Hi', 4, [1, 2, 4, 5], 4]

### Dictionary

In [ ]:
# define a dictionary, a dictionary is a key-value pair
x5 = {1: "Orange", 2: "Pair"}
# access x5 element by referring to its key
print(x5[1])
print(x5[2])
# you can alter the value by referring to its key
x5[2] = "Water Melon"
print(x5)
# you may add a new item to the dictionary
x5[4] = "Mango"
print(x5)

Orange
Pair
{1: 'Orange', 2: 'Water Melon'}
{1: 'Orange', 2: 'Water Melon', 4: 'Mango'}

### String
1. The strip() method removes any whitespace from the beginning or the end
2. The lower() method returns the string in lower case
3. The upper() method returns the string in upper case
4. The replace() method replaces a string with another string
5. The split() method splits the string into substrings if it finds instances of the separator
6. Use the format() method to insert numbers into strings
7. Use index() to search for a specified value in the string and returns the position of where it was found
8. Use start and end index position to get a substring 
9. The calling method is variableName.MethodName() (**MethodName** can be replaced by the above method name)

In [ ]:
a = "Hello World!" # There is space before and after the text
print("string 'a' is: ", print(a))
b = a.lower()
print("Lowercase of string 'a': ", b)

print("'a' split by space becomes:", a.split(" "))

Hello World!
string 'a' is:  None
Lowercase of string 'a':  hello world!
'a' split by space becomes: ['Hello', 'World!']

In [ ]:
c = "helloworld"
print(c[0:3])
print(c[-5:])

hel
world

### List
1. A list is a collection which is ordered and changeable. In Python lists are written with square brackets.
2. You access the list items by referring to the index number:
3. Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.
4. You can specify a range of indexes by specifying where to start and where to end the range. When specifying a range, the return value will be a new list with the specified items.
5. Specify negative indexes if you want to start the search from the end of the list.
6. To change the value of a specific item, refer to the index number.

In [ ]:
thislist = ["freshman", "sophomore","junior", "senior"]
print("thislist is:", thislist)

# example for accessing item
print("Example for accessing item:")
print(" 1st item:", thislist[0])
print(" 2nd item:", thislist[1])
print(" 3rd item:", thislist[2])
print(" 4th item:", thislist[3])

#negative indexing
#to access the last item of the list
print("Last item of the list is: ", thislist[-1])

#range of indexes
#privide the start and end index, the item at end index will not be returned.
#if you want to return the second and third item of thislist
# you need to use thislist[1:3]
# thislist[1] and thislist[2] will be returned as a list
# thislist[3] will not be returned
print("The second and third items of the list: ",thislist[1:3])

#get list length
print("Length of thislist is: ", len(thislist))

#remove item by value
thislist.remove("freshman")
print("thislist becomes %s after removing item 'freshman'" % thislist)

#remove item by index
#remove the last item
del thislist[-1]
print("thislist becomes %s after removing last item" % thislist)


#if you want to save the last time before removing it
#you can assign this value to new variable
temp = thislist[-1]
#and then try the del sentence again
del thislist[-1]
print("thislist becomes %s after removing last item '%s'" % (thislist,temp))

thislist is: ['freshman', 'sophomore', 'junior', 'senior']
Example for accessing item:
 1st item: freshman
 2nd item: sophomore
 3rd item: junior
 4th item: senior
Last item of the list is:  senior
The second and third items of the list:  ['sophomore', 'junior']
Length of thislist is:  4
thislist becomes ['sophomore', 'junior', 'senior'] after removing item 'freshman'
thislist becomes ['sophomore', 'junior'] after removing last item
thislist becomes ['sophomore'] after removing last item 'junior'

###Dictionary
1. A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.
2. You can access the items of a dictionary by referring to its key name, inside square brackets.
3. There is also a method called get() that will give you the same result.
4. You can change the value of a specific item by referring to its key name.
5. Adding an item to the dictionary is done by using a new index key and assigning a value to it.
6. Remove an item using pop(), popitem(), or del.
7. You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2. There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [ ]:
cardict = {
  "brand": "Honda",
  "model": "Civic",
  "year": 2000
}
print("cardict is: ", cardict)
#reassign value
cardict["year"] = 2007
print("cardict is: ", cardict)

#two ways to get access to the item
#get car brand
print("brand is: ", cardict["brand"])
#get car model
print("model is: ", cardict["model"])
#get year
print("year is:", cardict.get("year"))

#add an item
cardict["color"] = "red"
print("cardict is: ", cardict)

#remove item with specified key name
cardict.pop("model")
print("cardict becomes %s after removing 'model" % cardict)

#remove the last inserted item by popitem()
item = cardict.popitem()
print("cardict becomes %s after removing %s" % (cardict,item))

#use del to remove the item with the specified key name
del cardict["brand"]
print("cardict becomes %s after removing the item 'brand'" % cardict)

cardict is:  {'brand': 'Honda', 'model': 'Civic', 'year': 2000}
cardict is:  {'brand': 'Honda', 'model': 'Civic', 'year': 2007}
brand is:  Honda
model is:  Civic
year is: 2007
cardict is:  {'brand': 'Honda', 'model': 'Civic', 'year': 2007, 'color': 'red'}
cardict becomes {'brand': 'Honda', 'year': 2007, 'color': 'red'} after removing 'model
cardict becomes {'brand': 'Honda', 'year': 2007} after removing ('color', 'red')
cardict becomes {'year': 2007} after removing the item 'brand'

In [ ]:
%%shell
jupyter nbconvert --to html /content/Lecture01.ipynb

[NbConvertApp] Converting notebook /content/Lecture01.ipynb to html
[NbConvertApp] Writing 303984 bytes to /content/Lecture01.html